button{
    height: 30px;
    width: 30px;
    border: none;
    margin: 1px;
}

input[type="number"]{
    height: 30px;
    width: 60px;
    border: none;
    margin-left: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.contador{
    display: block;
}